
<section ng-controller="FeedController" ng-init="getMessages(); getUsers()">
	<div id="layout" ng-class="menuactive ? 'active' :''">
		<!-- Menu toggle -->
		<a id="menuLink" class="menu-link" ng-class="menuactive ? 'active' :''" ng-click="togglemenu()">
			<!-- Hamburger icon -->
			<span></span>
		</a>
		<div id="menu" ng-class="menuactive ? 'active' :''">
			<div class="pure-menu pure-menu-open">
			<center><button class="pure-button pure-button-primary" ng-click="toStats()">Check-out your Stats</button></center>
				<ul ng-repeat="user in users">
					<li class="menu-item-divided " ng-if="user.status == 'offline'" ><a><div class="indicator offline"></div> <span>{{user.name}}</span></a></li>
					<li class="menu-item-divided " ng-if="user.status == 'available'" ><a><div class="indicator available"></div> <span>{{user.name}}</span></a></li>
					<li class="menu-item-divided " ng-if="user.status == 'busy'" ><a><div class="indicator busy"></div> <span>{{user.name}}</span></a></li>
				</ul>
			</div>
			
		</div>
		<div id="main">
			<div class="header">
				<h1>Sqwiggle Feed</h1>
				<h2 ng-init="getRooms()" ng-cloak>{{room.name}}</h2>
			</div>
			
			<!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
			<div class="content" infinite-scroll="loadMore()" infinite-scroll-immediate-check="false">
			<!-- FORM -->
				<form ng-submit="postMessage()">					
					<!-- SUPERHERO NAME -->
					<div id="superhero-group" class="pure-form"> 
						<fieldset>
						<!-- SUBMIT BUTTON -->
							<input type="text" name="text" class="pure-input-1" placeholder="Post to the Sqwiggle chat" ng-model="formData.text">
							<button type="submit" class="btn btn-success btn-lg btn-block pure-button pure-input-1 pure-button-primary" ng-show="formData.text.length > 0">
							 Submit
							</button>
						</fieldset>
					</div>
				</form>
				<div class="pure-g-r">
				<!-- Messages -->
				<div  class="pure-u-1-2" ng-repeat="message in messages" ng-if="message.text != ''"> 
						
							<!-- Covers - Name -->
							
							<!-- Cover - github -->
							<div ng-if="message.type=='html'" >
								<div class="cover_html"  >
									<div id="nm" ng-if="message.text" >
										<img class="avatar" ng-src={{message.author.avatar}} alt="avatar" />
										{{message.author.name}}
									</div>
									<div id="nm" ng-if="!message.text" >
										<img class="avatar" ng-src="https://sqwiggle-assets.s3.amazonaws.com/assets/api/lightning-bf2914affd9d0e946bbba9b27d9166c0.png" alt="avatar" />
										{{message.conversation.duration | humanize}} conversation
									</div>
								</div>
							</div>
							<!-- Cover - user -->
							<div ng-if="message.conversation" >
								<div class="cover_conv"  >
									<div id="nm" ng-if="message.text" >
										<img class="avatar" ng-src={{message.author.avatar}} alt="avatar" />
										{{message.author.name}}
									</div>
									<div id="nm" ng-if="!message.text" >
										<img class="avatar" ng-src="https://sqwiggle-assets.s3.amazonaws.com/assets/api/lightning-bf2914affd9d0e946bbba9b27d9166c0.png" alt="avatar" />
										{{message.conversation.duration | humanize}} conversation
									</div>
								</div>

							</div>
							<!-- Cover - user -->
							<div ng-if="message.type=='message'" >
								<div class="cover"  >
									<div id="nm" ng-if="message.text" >
										<img class="avatar" ng-src={{message.author.avatar}} alt="avatar" />
										{{message.author.name}}
									</div>
									<div id="nm" ng-if="!message.text" >
										<img class="avatar" ng-src="https://sqwiggle-assets.s3.amazonaws.com/assets/api/lightning-bf2914affd9d0e946bbba9b27d9166c0.png" alt="avatar" />
										{{message.conversation.duration | humanize}} conversation
									</div>
								</div>
							</div>
							<div class="cover_description"><i class="fa fa-clock-o" ></i><span class="cover_timestamp" am-time-ago="message.created_at"></span></div>
							<div class="clear"></div>

							<!-- Messages Text -->
							<div id="msg" ng-if="message.type=='message'">
								{{message.text}}
								<div ng-if="message.attachments"> 
									<a href={{message.attachments[0].url}} ><div class="attachment">
											<div class="attachment_image" ng-if="message.attachments[0].image">
												<img ng-src={{message.attachments[0].image}} />
											</div>
											<div class="attachment_title">
												{{message.attachments[0].title}}
											</div>
											<div class="attachment_desciption">
												{{message.attachments[0].description}}
												<span></span>
											</div>
										</div>
									</a>
								</div>
							</div> 
							<!-- Conversation Text -->
							<div ng-if="message.conversation">
								<div id="convomsg">
									<div style="height: 2.5em;" >
										<img class="avatar" ng-src={{participants.avatar}} alt="avatar" ng-repeat="participants in message.conversation.participated"  />
									</div>	
								</div>
							</div>
							<!-- Github Text -->
							<div ng-if="message.type=='html'" >
								<div id="apimsg">
									<div ng-bind-html="message.text | unsafe"></div>
								</div>
							</div>
							

						
				</div>
				</div>
			
		</div>
	</div>
</section>