
<section ng-controller="FeedController" ng-init="getMessages(); getUsers()">
	<div id="layout" ng-class="menuactive ? 'active' :''">
		<!-- Menu toggle -->
		<a id="menuLink" class="menu-link" ng-class="menuactive ? 'active' :''" ng-click="togglemenu()">
			<!-- Hamburger icon -->
			<span></span>
		</a>
		<div id="menu" ng-class="menuactive ? 'active' :''">
			<div class="pure-menu pure-menu-open">
				<a  href="#">Team</a> 
				<ul ng-repeat="user in users">
					<li class="menu-item-divided pure-menu-offline" ng-if="user.status == 'offline'" ><a href="#">{{user.name}}</a></li>
					<li class="menu-item-divided pure-menu-available" ng-if="user.status == 'available'" ><a href="#">{{user.name}}</a></li>
					<li class="menu-item-divided pure-menu-busy" ng-if="user.status == 'busy'" ><a href="#">{{user.name}}</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="header">
				<h1>Sqwiggle Feed</h1>
				<h2>Everywhere Room</h2>
			</div>
			<div class="content">
				<!-- Messages -->
				<div ng-repeat="message in messages"> 
					<!-- Avatar - Name -->
					<div id="nm" ng-if="message.text" >
						<img class="avatar" ng-src={{message.author.avatar}} alt="avatar" />
						{{message.author.name}}
					</div>
					<!-- Messages Text -->
					<div id="msg" ng-if="message.type=='message'">
						{{message.text}}
						<div ng-if="message.attachments"> 
							<a href={{message.attachments[0].url}} ><div class="attachment">
									<div class="attachment_image" ng-if="message.attachments[0].image">
										<img ng-src={{message.attachments[0].image}} />
									</div>
									<div class="attachment_title">
										{{message.attachments[0].title}}
									</div>
									<div class="attachment_desciption">
										{{message.attachments[0].description}}
									</div>
								</div>
							</a>
						</div>
					</div> 
					<!-- Conversation Text -->
					<div ng-if="message.conversation">
						<div id="convomsg">
						Conversation {{message.conversation.status}} between
							<div style="height: 2.5em;" >
								<img class="avatar" ng-src={{participants.avatar}} alt="avatar" ng-repeat="participants in message.conversation.participated"  />
							</div>
							
						</div>
					</div>
					<!-- Github Text -->
					<div ng-if="message.type=='html'" >
						<div id="apimsg">
						<div ng-bind-html="message.text | unsafe"></div>
						<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>