#nm {
	font-family:  'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #b1b1b1; 
	padding: 0;
	margin-top: 0;
}

#msg {
	font-family:  'Roboto Slab', sans-serif;
	font-weight: 300; 
	font-size: 1em;
	color: #B1B1B1;
	padding: 0;
	margin-top: 0;
	margin-bottom:0.5em;
	padding-bottom:0.5em;
	padding-left:3em;
	border-bottom:solid 1px #eee;
	word-wrap: break-word;
}
#apimsg{
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #B1B1B1;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 3em;
	border-bottom:solid 1px #CBDDE7;
	word-wrap: break-word;
}
#convomsg{
	font-family:  'Roboto Slab', sans-serif;
	font-weight: 300; 
	font-size: 1em;
	color: #B1B1B1;
	padding: 0;
	margin-top: 0;
	margin-bottom:0.5em; 
	padding-bottom:0.5em;
	border-bottom:solid 1px #D4E7CB;
	word-wrap: break-word;

}
.content{
	padding-top:2em;
}
#menu .pure-menu-offline {
	background: #CA5F5F;
	color:#fff;
	border:none;
}
#menu .pure-menu-busy {
	background: #EBA85F;
	color:#fff;
	border:none; 
}
#menu .pure-menu-available {
	background: #90C76B;
	color:#fff;
	border:none;
}
#menu a {
	color: #fff;
}

#menu {
	margin-left: -200px;
}	
#layout.active #menu {
	left: 200px; 
	width: 200px;
}
@media (min-width: 48em){
	#menu {
		left: 200px;
	}

	#layout {
	padding-left: 200px;
	left: 0;
	}
} 
.avatar { 
	float: left;
	margin-top: .3em;
	margin-right: 1em;
	position: relative;

	height:2em;
	width:2em;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 1px #999, 0 2px 5px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 3px #fff, 0 0 0 1px #999, 0 2px 5px 4px rgba(0,0,0,.2);
	box-shadow: 0 0 0 3px #fff, 0 0 0 1px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.attachment{
	border:solid 1px #eee;
	margin-bottom:1em;
	margin-top:1em;
	padding:1em;
}
.attachment img{
	width: 100%;
	height: 10em;
}
#msg a{
	text-decoration: none;
}
.attachment_title{
	font-family:  'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: .8em;
	color: #b1b1b1; 
}
.attachment_desciption{
	font-weight: 100;
	font-size: .6em;
	color: #b1b1b1; 
}
.timestamp{
	float:right;
	font-size: .6em;
}
.clear{
	clear:both;
}

.pure-menu li a:hover, .pure-menu li a:focus {
	background: inherit !important;
	cursor: default;
}

.header h1 {
	margin: 0.2em 0;
	font-size: 2em;
	font-weight: 300;
}	
.header h2 {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	color: #ccc;
	padding: 0;
	margin-top: 0;
}

h2{
	font-family: "Roboto Slab",sans-serif;
	font-weight: 100;
	font-size: 2em;
	color: #ccc;
	padding: 0;
	margin-top: 0;
}

h3{
	font-family: "Roboto Slab",sans-serif;
	font-weight: 400;
	font-size: .9em;
	color: #aaa;
	padding: 0;
	margin-top: 0;
}
.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height:10em;
}
.pure-button{
	margin-top:5px;
}

blockquote {
	font-family: "Georgia", serif;
	color: #666;
	font-style: italic;
	line-height: 1.8;
	border-left: 5px solid #ddd;
	padding-left: 1.5em;
}

blockquote.error {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}

ul#user-status-legend{
	padding-top: 10px;
	text-align: left;
	font-size: 0.9em;
	margin: auto;
	padding:1em;
}

div.indicator {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	border: 1px solid #333;
	vertical-align: middle;
}

div.indicator.available {
	background-color: #90C76B;
}
div.indicator.offline {
	background-color: #CA5F5F;
}
div.indicator.busy {
	background-color: #EBA85F;
}
.content {
margin: 0 auto;
padding: 0 1em;
max-width: 800px;
margin-bottom: 50px;
line-height: 1.6em;
}

/***DOTS***/

.loader {
	position: relative;
	display: block;
	width: 100%;
	height: 10px;
	margin-top: 5px;
	margin:auto;
}

/* ooo, css circles*/
.circle {
	display: inline-block;
	position: relative;
	/* key up the animations! */
	-webkit-animation: dotloader 2.5s infinite;
	-moz-animation: dotloader 2.5s infinite;
	-ms-animation: dotloader 2.5s infinite;
	-o-animation: dotloader 2.5s infinite;
	animation: dotloader 2.5s infinite;
	background-color:#FF9501;
}

.circle + .circle {
	margin-left: -25px;
	/* staggered effect cause by delay property */
	-webkit-animation: dotloader 2.5s 0.2s infinite;
	-moz-animation: dotloader 2.5s 0.2s infinite;
	-ms-animation: dotloader 2.5s 0.2s infinite;
	-o-animation: dotloader 2.5s 0.2s infinite;
	animation: dotloader 2.5s 0.2s infinite;
	background-color:#FF3B2F;
}

.circle + .circle + .circle {
	margin-left: -25px;
	-webkit-animation: dotloader 2.5s 0.4s infinite;
	-moz-animation: dotloader 2.5s 0.4s infinite;
	-ms-animation: dotloader 2.5s 0.4s infinite;
	-o-animation: dotloader 2.5s 0.4s infinite;
	animation: dotloader 2.5s 0.4s infinite;
	background-color:#5855D6;
}

.circle + .circle + .circle + .circle {
	margin-left: -25px;
	-webkit-animation: dotloader 2.5s 0.6s infinite;
	-moz-animation: dotloader 2.5s 0.6s infinite;
	-ms-animation: dotloader 2.5s 0.6s infinite;
	-o-animation: dotloader 2.5s 0.6s infinite;
	animation: dotloader 2.5s 0.6s infinite;
	background-color: #5AC8FB;
}

/* here be the animations matey! */
@keyframes "dotloader" {
	0%,20% {
	width: 0px;
	height: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	left: 0%;
}

30%,70% {
	width: 8px;
	height: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	left: 50%;

}

80%,100% {
	width: 0px;
	height: 0px;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	left: 95%;

}

}

@-moz-keyframes dotloader {
	0%,20% {
	width: 0px;
	height: 0px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	left: 0%;
}

30%,70% {
	width: 8px;
	height: 8px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	left: 50%;
}

80%,100% {
	width: 0px;
	height: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	left: 95%;

}

}

@-webkit-keyframes "dotloader" {
	0%,20% {
	width: 0px;
	height: 0px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	left: 0%;
	
}

30%,70% {
	width: 8px;
	height: 8px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	left: 50%;
	
}

80%,100% {
	width: 0px;
	height: 0px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	left: 95%;
	
}

}

@-ms-keyframes "dotloader" {
	0%,20% {
	width: 0px;
	height: 0px;
	border-radius: 2px;
	left: 0%;

}

30%,70% {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	left: 50%;

}

80%,100% {
	width: 0px;
	height: 0px;
	border-radius: 1px;
	left: 95%;

}

}

@-o-keyframes "dotloader" {
	0%,20% {
	width: 4px;
	height: 4px;
	border-radius: 2px;
	left: 0%;
	background-color: #000;
}

30%,70% {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	left: 50%;

}

80%,100% {
	width: 0px;
	height: 0px;
	border-radius: 1px;
	left: 95%;

}

}